# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Django compiled files
*.log

# Sass/Compass
.sass-cache

# Development media root
media-root

# Temporary files and apps, used for testing
tmp_app

# Editor temporary files
*.swp

# Project secret files
local_settings.py
