/* line 1, _member-tag.sass */
.tag {
  display: inline-block;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  margin-left: 0.5em;
}

/* line 7, _member-tag.sass */
.group_leader {
  background-color: green;
}

/* line 10, _member-tag.sass */
.on_leave {
  background-color: #ccc;
  color: black;
}

/* line 14, _member-tag.sass */
.quit {
  background-color: black;
}

/* line 3, ../../../../base/static/base/css/table/_table.sass */
.row {
  margin: 0px;
  padding: 1em;
  padding-right: 0;
}

/* line 8, ../../../../base/static/base/css/table/_table.sass */
.row:nth-child(even) {
  background-color: rgba(41, 49, 61, 0.6);
}

/* line 11, ../../../../base/static/base/css/table/_table.sass */
.row:nth-child(odd) {
  background-color: rgba(41, 49, 61, 0.3);
}

/* line 6, member-list.sass */
section div:first-child h2 {
  display: inline-block;
}
/* line 8, member-list.sass */
section div:first-child h3 {
  display: inline-block;
  float: right;
  margin-top: 1.6em;
}
/* line 12, member-list.sass */
section div:first-child h3 a {
  margin-left: 1em;
}
/* line 14, member-list.sass */
section .change_member {
  visibility: hidden;
  float: right;
}
/* line 18, member-list.sass */
section .change_member {
  float: right;
  margin-right: 1em;
  visibility: visible;
}
/* line 23, member-list.sass */
section .member .phone {
  float: right;
  margin-right: 1em;
}
/* line 26, member-list.sass */
section .member .fa-edit {
  width: 1.3em;
}
/* line 28, member-list.sass */
section .member .fa-phone {
  width: 1.2em;
}
/* line 31, member-list.sass */
section h3 {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
