//Legg til nytt medlem og se gamle medlemmer

section {
    div:first-child {
        h2 {
            display: inline-block;
        }

        h3 {
            display: inline-block;
            float: right;
            margin-top: 1.6em;

            a {
                margin-left: 1em;
            }
        }
    }
}



//Telfonnummer og endre bruker
section{

        a.graylink.change_member {
            visibility: hidden;
            float:right;
            }

         i.fa.fa-edit {

            float:right;
            margin-right: 1em;
            visibility: visible;

    }

    div.member {

        a.graylink.phone {
            float: right;
            margin-right: 1em;
            }
        //legger til mellomrom mellom alles navn og gir dem et lite innrykk
        margin-bottom: 1.5em;
        margin-left: 2em;
        }


//legger til mer mellomrom over titlene (klarinett) og mer under

    h3 {

        margin-top: 3em;
        margin-bottom: 1.5em;
        }
}
