/* line 5, member_list.scss */
section div:first-child h2 {
  display: inline-block;
}
/* line 9, member_list.scss */
section div:first-child h3 {
  display: inline-block;
  float: right;
  margin-top: 1.6em;
}
/* line 14, member_list.scss */
section div:first-child h3 a {
  margin-left: 1em;
}

/* line 26, member_list.scss */
section a.graylink.change_member {
  visibility: hidden;
  float: right;
}
/* line 31, member_list.scss */
section i.fa.fa-edit {
  float: right;
  margin-right: 1em;
  visibility: visible;
}
/* line 39, member_list.scss */
section div.member {
  margin-bottom: 1.5em;
  margin-left: 2em;
}
/* line 41, member_list.scss */
section div.member a.graylink.phone {
  float: right;
  margin-right: 1em;
}
/* line 53, member_list.scss */
section h3 {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
