{% extends 'base/base-internal.html' %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'forum/css/post_detail.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/poll_inline.css' %}" />
{% endblock stylesheets %}

{% block main %}
<section>
    <div class='navline'>
        <h2 class='back-link'>
	    <a href='{{ back_link }}' title='tilbake'>
                <i class='fa fa-chevron-left'></i>
                Tilbake
	    </a>
        </h2>
    </div>

    <h2>{{ post.title }}</h2>
    <a class='edit' href='{% url 'forum_post_update' forum=post.forum pk=post.pk %}'>
        <i class='fa fa-edit'></i>
        Endre
    </a>

    <div class='post'>
        <div class='header'>
            <span class='poster'>
				{% if post %}
				{{ post.poster }}
				{% else %}
				Ukjent
				{% endif %}
			</span>
            <span class='timestamp'>{{ post.created }}</span>
        </div>

        <div class='content'>
            {{ post.content }}
        </div>
    </div>

	{% include 'polls/poll_inline.html' with poll=post.poll poll_answer_form=poll_answer_form %}

    <h2>Kommentarer</h2>
    {% for comment in post.comments.all %}
    <div class='comment'>
        <div class='header'>
            <span class='poster'>{{ comment.poster }}</span>
            <span class='timestamp'>{{ comment.created }}</span>
        </div>

        <div class='content'>
            {{ comment.comment }}
        </div>
    </div>
    {% endfor %}

    <div class='comment-form'>
        <form method='POST'>
            {% csrf_token %}

            {% for field in comment_form %}
            {{ field.errors }}
            {{ field }}
            {% endfor %}

            <br />
            <input class='modernbutton' type='submit' value='Kommenter' />
        </form>
    </div>
</section>
{% endblock main %}
