{% extends 'base/base-internal.html' %}

{% load static %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'editable-content/js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'editable-content/js/content-editor.js' %}"></script>
{% endblock javascript %}

{% block main %}
<section>
    {% include 'editable-content/editable-content.html' with name='practical' %}

    <h1>Styret og komiteer</h1>
    <h3>Styret</h3>
    {% for position in board_positions %}
    <p>
        <b>{{ position.name }}:</b>
        <a href='{{ position.holder.get_absolute_url }}'>
            {{ position.holder.get_full_name }}
        </a>
    </p>
    {% endfor %}

    {% for committee in committees %}
		<br />
		<h3>{{ committee.name }}:</h3>
		{% if perms.members.change_committee %}
			<a href='{% url 'change_committee' committee.pk %}'>
				<span class='fa fa-edit'></span>Endre
			</a>
		{% endif %}
		{% if committee.leader %}
			<p>
				{{ committee.leader_title }}

				<a href='{{ committee.leader.get_absolute_url }}'>
					{{ committee.leader.get_full_name }}</a>
				&nbsp;
			</p>
		{% endif %}

		{% for membership in committee.memberships %}
			<p>
				{{ membership.title }}

				{% with member=membership.member %}
					<a href='{{ member.get_absolute_url }}'>
						{{ member.get_full_name }}
					</a>
				{% endwith %}
				&nbsp;
			</p>
		{% endfor %}
    {% endfor %}
</section>
{% endblock main %}
