.forums {
	list-style: none;

	// Space the entries evenly horizontally
	display: inline-block;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;

	a {
		&.forum-list-current {
			text-decoration: underline;
		}

		text-decoration: none;
		font-weight: normal;
	}
}
