@import '_checkbox-radiobutton.sass';

// Forms av tables: Forms should not look like tables
form {
    tr:nth-child(even), tr:nth-child(odd) {
        background-color: initial;
        margin-bottom: 1em;
        height: auto;
    }
    th, td {
        padding: 0.5em 1em 0.5em 0;
    }
}

input, select, textarea,button {
    width: 15em;
    font-size: 1.05em;
    vertical-align: middle;
    border: 2px solid $secondary;
    padding: 0.5em;
    background-color: $main;
    color: $secondary;
}

input:focus {
    background-color: $main-light
}

input[type="submit"] {
    width: 10em;
}

input[type="submit"]:hover {
    background-color: $main-light
}
