@mixin moderninput {
    width: 10em;
    font-size: 1.05em;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    vertical-align: middle;
    border: 1px solid gray;
    padding: 0.5em;
    margin-bottom: 0.5em;
    padding-right: 2em;
}
