{% extends 'base/base-public.html' %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/password_reset_confirm.css' %}" />
{% endblock stylesheets %}

{% block main %}
<section class='forgot-password-confirm'>
    <div>
        <h2>Bytt passord</h2>
        {% if validlink %}
        <form method='POST'>
            {% csrf_token %}
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
            <table>
                <tr>
                    <td>Nytt passord:</td>
                    <td>
                        <label class='moderntextinput'>{{ form.new_password1 }}</label>
                    </td>
                </tr>
                <tr>
                    <td>Gjenta passord:</td>
                    <td>
                        <label class='moderntextinput'>{{ form.new_password2 }}</label>
                    </td>
                </tr>
                <tr>
                    <td><input class='modernbutton' type='submit' value='Bytt passord' /></td>
                </tr>
            </table>
        </form>
        {% else %}
        <p>
            Lenken du brukte er ugyldig. <a class='graylink' href='{% url 'password_reset' %}'>Prøv på nytt</a> eller ta
            kontakt med <a class='graylink' href='mailto:webkom@bispehaugen.no'>webkom@bispehaugen.no</a>
        </p>
        {% endif %}
    </div>
</section>
{% endblock main %}
