{% extends 'base/base-public.html' %}

{% block main %}
<section class='forgot-password'>
    <div>
        <h2>Glemt passord</h2>
        <p>Har du glemt passordet ditt?</p>
        <p>Skriv inn eposten du bruker, så vil du få en epost hvis du har en bruker med den eposten.</p>
        <p>Hvis du ikke får en epost med en gang, sjekk Spam-filteret ditt, hvis ikke, prøv en annen epost.</p>

        <form method='POST' action='{% url 'password_reset' %}'>
            {% csrf_token %}

            <label class='moderntextinput'>
                {{ form.email }}
            </label>
            {% if form.email.errors %}
                <p class='error'>{{ form.email.errors }}</p>
            {% endif %}
            <input class='modernbutton' value='Tilbakestill passord' type='submit' />
        </form>

        <p>Hvis alt slår feil, ta kontakt med <a class='graylink' href='mailto:webkom@bispehaugen.no'>webkom</a>.</p>
    </div>
</section>
{% endblock main %}
