{% extends 'base/base-public.html' %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/password_reset_confirm.css' %}" />
{% endblock stylesheets %}

{% block main %}
<section class='forgot-password-confirm'>
    <div>
        <h2>Bytt passord</h2>
        {% if validlink %}
        <form method='POST'>
            {% csrf_token %}

            <div class='help_text'>
                {{ form.new_password1.help_text|safe }}
            </div>

            <table>
                <tr>
                    <td>Nytt passord:</td>
                    <td>
                        <label class='moderntextinput'>{{ form.new_password1 }}</label>
                    </td>
                </tr>
                {% if form.new_password1.errors %}
                <tr>
                    <td colspan='2'>
                        <p class='error'>{{ form.new_password1.errors }}</p>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>Gjenta passord:</td>
                    <td>
                        <label class='moderntextinput'>{{ form.new_password2 }}</label>
                    </td>
                </tr>
                {% if form.new_password2.errors %}
                <tr>
                    <td colspan='2'>
                        <p class='error'>{{ form.new_password2.errors }}</p>
                    </td>
                </tr>
                {% endif %}
            </table>
            <input class='modernbutton' type='submit' value='Bytt passord' />
        </form>
        {% else %}
        <p>
            Lenken du brukte er ugyldig. <a href='{% url 'password_reset' %}'>Prøv på nytt</a> eller ta
            kontakt med <a href='mailto:webkom@bispehaugen.no'>webkom@bispehaugen.no</a>
        </p>
        {% endif %}
    </div>
</section>
{% endblock main %}
