/* line 1, poll_form.sass */
.poll-form-container {
  padding: 2em 0;
}
/* line 3, poll_form.sass */
.poll-form-container .poll-form {
  padding: 1em 0 0 0;
}
/* line 5, poll_form.sass */
.poll-form-container .poll-form .seperator {
  font-size: 1.3em;
}
/* line 7, poll_form.sass */
.poll-form-container .poll-form .seperator > td > * {
  margin: 0.5em;
}
/* line 9, poll_form.sass */
.poll-form-container #poll-form-toggle:not(:checked) ~ .poll-form {
  display: none;
}
