// The background and text colors for the 1st, 3rd, 5th etc. section
$section-odd-bg-color: rgb(34, 41, 51);
$section-odd-text-color: white;

// The background and text colors for the 2nd, 4th, 6th etc. section
$section-even-bg-color: white;
$section-even-text-color: black;

$section-padding: 2em 9%;
