{% extends 'base/base-internal.html' %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'members/css/member-list.css' %}" />
{% endblock stylesheets %}

{% block main %}
<h2 style="color:yellow">Instrumenter</h2>
{% for instrument in instruments %}
    <p style="color:white">
	<a href="{{ instrument.get_absolute_url }}">{{ instrument }}</a>
	{% if instrument.loaned_out %}
	    - lånt ut til <a href ="{{ instrument.loaned_to_member.get_absolute_url }}">{{ instrument.loaned_to_member.get_full_name }}</a>
	{% else %}
	    - ikke lånt ut
	{% endif %}
    </p>
{% endfor %}

<h2 style="color:yellow">Jakker</h2>
{% for jacket in jackets %}
    <p style="color:white">
	<a href="{{ jacket.get_absolute_url }}">{{ jacket }}</a>
	{% if jacket.loaned_out %}
	    - lånt ut til <a href ="{{ jacket.loaned_to_member.get_absolute_url }}">{{ jacket.loaned_to_member.get_full_name }}</a>
	{% else %}
	    - ikke lånt ut
	{% endif %}
    </p>
{% endfor %}

<h2 style="color:yellow">Bukser</h2>
{% for pant in pants %}
    <p style="color:white">
	<a href="{{ pant.get_absolute_url }}">{{ pant }}</a>
	{% if pant.loaned_out %}
	    - lånt ut til <a href ="{{ pant.loaned_to_member.get_absolute_url }}">{{ pant.loaned_to_member.get_full_name }}</a>
	{% else %}
	    - ikke lånt ut
	{% endif %}
    </p>
{% endfor %}

<h2 style="color:yellow">Hatter</h2>
{% for hat in hats %}
    <p style="color:white">
	<a href="{{ hat.get_absolute_url }}">{{ hat }}</a>
	{% if hat.loaned_out %}
	    - lånt ut til <a href ="{{ hat.loaned_to_member.get_absolute_url }}">{{ hat.loaned_to_member.get_full_name }}</a>
	{% else %}
	    - ikke lånt ut
	{% endif %}
    </p>
{% endfor %}
{% endblock main %}
