{% extends 'base/base-internal.html' %}

{% load static %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'members/css/member-list.css' %}" />
{% endblock stylesheets %}

{% block main %}
<h1 style="color:yellow">{{ jacket.name }}</h1>
<h2 style="color:yellow">Størrelse: {{ jacket.size }}</h2>
<p style="color:white">{{ jacket.description }}</p>

{% if jacket.loaned_out %}
    <p style="color:white">Jakken er lånt ut til <a href ="{{ jacket.loaned_to_member.get_absolute_url }}">{{ jacket.loaned_to_member.get_full_name }}</a></p>
    <p style="color:white">{{ jacket.loan_description }}</p>
{% else %}
    <p style="color:white">Jakken er ikke lånt ut</p>
{% endif %}
{% endblock main %}
