{% extends 'base/base-internal.html' %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'members/css/member-change.css' %}" />
{% endblock stylesheets %}

{% block main %}
<section>
    <h2>Rediger medlem</h2>
    <form action={{ request.path|urlencode }} method='POST'>
        {% csrf_token %}
        <table>
            {{ form.as_table }}

            <tr>
                <th>Medlemskapsperioder:</th>
                <td>
                    {% include 'base/period_formset.html' with formset=membership_period_formset only %}
                </td>
            </tr>

            <tr>
                <th>Permisjonsperioder:</th>
                <td>
                    {% include 'base/period_formset.html' with formset=leave_period_formset only %}
                </td>
            </tr>
        </table>
        <input class='modernbutton' type='submit' value='Lagre' />
    </form>
</section>
{% endblock main %}
