{% extends 'base/base-internal.html' %}

{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'members/css/member_add.css' %}" />
{% endblock stylesheets %}

{% block main %}
<section>
    <h2>Nytt medlem</h2>
    <form action={{ request.path|urlencode }} method='POST'>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input class='modernbutton' type='submit' value='Legg til' />
    </form>
</section>
{% endblock main %}
