label.moderntextinput {
    position: relative;

    input {
        @include moderninput;
    }

    i {
        position: absolute;
        bottom: -0.1em;
        right: 0.4em;
        margin-right: 0.3em;
    }
}
