/* line 4, login.sass */
section.login {
  height: 100%;
  padding-top: 5em;
}
/* line 8, login.sass */
section.login > div {
  margin: 1em auto 2em auto;
  padding: 2em;
  width: 26em;
  background-color: white;
  color: black;
}
/* line 15, login.sass */
section.login > div h2 {
  display: inline-block;
  margin: 0 0 1em 0;
}
/* line 19, login.sass */
section.login > div #forgot-password-link {
  display: inline-block;
  float: right;
  margin-top: 0.5em;
  color: #222933;
}
/* line 25, login.sass */
section.login > div form table {
  width: 100%;
}
/* line 28, login.sass */
section.login > div form td {
  padding: 0.5em 0;
  position: relative;
}
/* line 32, login.sass */
section.login > div input {
  width: -webkit-fill-available;
  font-size: 1.5em;
  border-color: #222933;
  padding-right: 2em;
}
/* line 38, login.sass */
section.login > div input[type='submit'] {
  width: 100%;
  margin-top: 0.5em;
}
/* line 42, login.sass */
section.login > div input:focus, section.login > div input[type='submit']:hover {
  background-color: #94a0b8;
}
/* line 45, login.sass */
section.login > div .fa {
  position: absolute;
  right: 0;
  top: 0.6em;
  color: #222933;
}
