/* line 1, internal-base/_nav.sass */
nav.menu-collapsed {
  font-size: 1.4vw;
}

/* line 4, internal-base/_nav.sass */
nav.menu-collapsed > div {
  font-size: 4vmin;
}
/* line 6, internal-base/_nav.sass */
nav.menu-collapsed > div * {
  margin: 1.5em 0 0 0;
}
/* line 8, internal-base/_nav.sass */
nav.menu-collapsed > div *:first-child {
  margin: 2em 0 0 0;
}

/* line 1, internal-base/_nav-dropdown.sass */
.menu-full .dropdown {
  display: inline-block;
}
/* line 4, internal-base/_nav-dropdown.sass */
.menu-full .dropdown .dropdown-trigger {
  display: none;
}
/* line 7, internal-base/_nav-dropdown.sass */
.menu-full .dropdown .dropdown-label {
  display: block;
  padding: 0 1.5vw;
  height: 100%;
  text-transform: none;
}
/* line 13, internal-base/_nav-dropdown.sass */
.menu-full .dropdown .dropdown-options {
  display: none;
  position: absolute;
  list-style: none;
  line-height: 2.5em;
  text-align: left;
  margin: 0;
  padding: 0;
  background-color: white;
}
/* line 23, internal-base/_nav-dropdown.sass */
.menu-full .dropdown:hover > .dropdown-options, .menu-full .dropdown .dropdown-options:hover, .menu-full .dropdown input:checked ~ .dropdown-options {
  display: block;
}
/* line 26, internal-base/_nav-dropdown.sass */
.menu-full .dropdown .dropdown-option {
  padding: 0 1em;
  border-bottom: 1px solid #ccc;
}
