/* line 1, common-base/_body.scss */
body {
  padding-top: 4rem;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #222933;
}
@media (max-width: 800px) {
  /* line 1, common-base/_body.scss */
  body {
    padding-top: 4rem;
  }
}

/* line 1, common-base/_sections.scss */
body > section {
  padding: 2em 9%;
}
/* line 4, common-base/_sections.scss */
body > section:nth-of-type(2n) {
  background-color: white;
  color: black;
}
/* line 9, common-base/_sections.scss */
body > section:nth-of-type(2n+1) {
  background-color: #222933;
  color: white;
}

@font-face {
  font-family: 'Dosis';
  src: url("/static/base/fonts/Dosis/Dosis.woff2") format("woff2"), url("/static/base/fonts/Dosis/Dosis-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Droid Sans';
  src: url("/static/base/fonts/Droid_Sans/Droid_Sans.ttf") format("truetype");
}
@font-face {
  font-family: 'Nunito';
  src: url("/static/base/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}
/* line 1, common-base/header/_nav.scss */
nav.menu-full, nav.menu-collapsed {
  z-index: 1000;
  text-align: center;
  color: #222933;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 1px;
  font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
}
/* line 11, common-base/header/_nav.scss */
nav.menu-full a:link, nav.menu-full a:active, nav.menu-full a:visited, nav.menu-full a:hover, nav.menu-collapsed a:link, nav.menu-collapsed a:active, nav.menu-collapsed a:visited, nav.menu-collapsed a:hover {
  color: #222933;
}

/* line 1, common-base/header/_nav-full.scss */
nav.menu-full {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
}
@media (max-width: 800px) {
  /* line 1, common-base/header/_nav-full.scss */
  nav.menu-full {
    display: none;
  }
}
/* line 14, common-base/header/_nav-full.scss */
nav.menu-full > *:not(.dropdown) {
  display: inline-block;
  padding: 0 1.5vw;
}
/* line 18, common-base/header/_nav-full.scss */
nav.menu-full > *:not(.dropdown):not(:first-child) {
  margin-left: 0em;
}

@media (min-width: 800px) {
  /* line 1, common-base/header/_nav-collapsed.scss */
  nav.menu-collapsed {
    display: none;
  }
}
/* line 6, common-base/header/_nav-collapsed.scss */
nav.menu-collapsed > input[type='checkbox'] {
  display: none;
}
/* line 10, common-base/header/_nav-collapsed.scss */
nav.menu-collapsed > label {
  display: block;
  position: fixed;
  z-index: 1500;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  cursor: pointer;
}
/* line 24, common-base/header/_nav-collapsed.scss */
nav.menu-collapsed > label span::after {
  margin-left: 0.3em;
  content: "MENY";
}
/* line 31, common-base/header/_nav-collapsed.scss */
nav.menu-collapsed > input:checked ~ label span::after {
  content: "LUKK";
}
/* line 35, common-base/header/_nav-collapsed.scss */
nav.menu-collapsed > div {
  position: fixed;
  top: 4rem;
  left: -100%;
  width: 100%;
  min-height: 100%;
  background-color: white;
  overflow-y: scroll;
}
/* line 44, common-base/header/_nav-collapsed.scss */
nav.menu-collapsed > div * {
  display: block;
  width: 100%;
}
/* line 50, common-base/header/_nav-collapsed.scss */
nav.menu-collapsed > input:checked ~ div {
  left: 0;
}

/* Hide the browser's default checkbox */
/* line 2, common-base/elements/forms/_checkbox-radiobutton.sass */
.oldnotfancycheckbox {
  display: none;
  width: initial;
}

/* line 6, common-base/elements/forms/_checkbox-radiobutton.sass */
.checkbox-container {
  /* Customize the container */
  position: relative;
  display: block;
  width: fit-content;
  height: 1em;
  cursor: pointer;
  padding-left: 1.5em;
  font-size: 1.05em;
  /* Create a custom checkbox */
  /* Style the checkmark/indicator */
  /* When the checkbox is checked, add a background */
  /* Create the checkmark/indicator (hidden when not checked) */
}
/* line 17, common-base/elements/forms/_checkbox-radiobutton.sass */
.checkbox-container .fancy-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: transparent;
  display: inline-block;
  border: solid 2px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 34, common-base/elements/forms/_checkbox-radiobutton.sass */
.checkbox-container .checkmark {
  display: inline-block;
  width: 5px;
  height: 10px;
  border: solid;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 50, common-base/elements/forms/_checkbox-radiobutton.sass */
.checkbox-container .checkmark {
  visibility: hidden;
}

/* Show the checkmark when checked */
/* line 56, common-base/elements/forms/_checkbox-radiobutton.sass */
input:checked ~ .checkbox-container .checkmark {
  visibility: visible;
}

/* On mouse-over, add a background color */
/* line 62, common-base/elements/forms/_checkbox-radiobutton.sass */
section:nth-of-type(2n+1) .checkbox-container .fancy-checkbox, section:nth-of-type(2n+1) .checkbox-container .checkmark {
  border-color: white;
}
/* line 65, common-base/elements/forms/_checkbox-radiobutton.sass */
section:nth-of-type(2n+1) .checkbox-container:hover .fancy-checkbox {
  background-color: #29313d;
}

/* line 69, common-base/elements/forms/_checkbox-radiobutton.sass */
section:nth-of-type(2n) .checkbox-container .fancy-checkbox, section:nth-of-type(2n) .checkbox-container .checkmark {
  border-color: #222933;
}
/* line 72, common-base/elements/forms/_checkbox-radiobutton.sass */
section:nth-of-type(2n) .checkbox-container:hover .fancy-checkbox {
  background-color: #94a0b8;
}

/* line 5, common-base/elements/forms/_form.scss */
form tr:nth-child(even), form tr:nth-child(odd) {
  background-color: initial;
  margin-bottom: 1em;
  height: auto;
}
/* line 10, common-base/elements/forms/_form.scss */
form th, form td {
  padding: 0.5em 1em 0.5em 0;
}

/* line 15, common-base/elements/forms/_form.scss */
input, select, textarea, button {
  width: 15em;
  font-size: 1.05em;
  vertical-align: middle;
  border: 2px solid;
  padding: 0.5em;
  background-color: transparent;
  color: inherit;
}

/* line 26, common-base/elements/forms/_form.scss */
section:nth-of-type(2n+1) input, section:nth-of-type(2n+1) select, section:nth-of-type(2n+1) textarea, section:nth-of-type(2n+1) button {
  border-color: white;
}

/* line 32, common-base/elements/forms/_form.scss */
section:nth-of-type(2n) input, section:nth-of-type(2n) select, section:nth-of-type(2n) textarea, section:nth-of-type(2n) button {
  border-color: #222933;
}

/* line 37, common-base/elements/forms/_form.scss */
input[type="submit"] {
  width: 10em;
}

/* line 42, common-base/elements/forms/_form.scss */
section:nth-of-type(2n+1) textarea:focus, section:nth-of-type(2n+1) input:focus, section:nth-of-type(2n+1) input[type="submit"]:hover {
  background-color: #29313d;
}

/* line 48, common-base/elements/forms/_form.scss */
section:nth-of-type(2n) textarea:focus, section:nth-of-type(2n) input:focus, section:nth-of-type(2n) input[type="submit"]:hover {
  background-color: #94a0b8;
}

/* line 1, common-base/elements/_buttons.sass */
.big-link {
  font-size: 1.5em;
}

/* line 4, common-base/elements/_buttons.sass */
.action-link {
  display: inline-block;
  float: right;
  margin-left: 1em;
}

/* line 9, common-base/elements/_buttons.sass */
.back-button {
  font-size: 1.3em;
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

/* line 2, common-base/elements/_table.sass */
.row {
  margin: 0px;
  padding: 1em;
}

/* line 7, common-base/elements/_table.sass */
table {
  border-collapse: collapse;
}

/* line 9, common-base/elements/_table.sass */
th, td {
  padding: 1em;
}

/* line 11, common-base/elements/_table.sass */
th {
  text-align: left;
}

/* line 15, common-base/elements/_table.sass */
tr:nth-child(even), .row:nth-child(even) {
  background-color: rgba(41, 49, 61, 0.6);
}

/* line 18, common-base/elements/_table.sass */
tr:nth-child(odd), .row:nth-child(odd) {
  background-color: rgba(41, 49, 61, 0.3);
}

/* line 1, common-base/elements/_icons.sass */
.fa {
  width: 1.2em;
}

/* line 3, common-base/elements/_icons.sass */
.fa-edit {
  width: 1.3em;
}

/* line 5, common-base/elements/_icons.sass */
.fa-phone {
  width: 1.2em;
}

/* line 7, common-base/elements/_icons.sass */
.fa-line-chart {
  width: 1.3em;
}

/* line 1, common-base/elements/_tags.sass */
.tag {
  display: inline-block;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  margin-left: 0.5em;
}

/* line 8, common-base/elements/_tags.sass */
.group_leader {
  background-color: green;
}

/* line 11, common-base/elements/_tags.sass */
.on_leave {
  background-color: #ccc;
  color: black;
}

/* line 15, common-base/elements/_tags.sass */
.quit {
  background-color: black;
}

/* line 1, common-base/elements/_text.scss */
p {
  font-weight: 200;
}

/* line 6, common-base/elements/_text.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  line-height: 1.1em;
}

/* line 11, common-base/elements/_text.scss */
h1 {
  font-size: 0;
  font-size: 2em;
  margin-top: 0;
}

/* line 16, common-base/elements/_text.scss */
h2 {
  font-size: 1.5em;
}

/* line 21, common-base/elements/_text.scss */
a {
  font-weight: 200;
}

/* line 24, common-base/elements/_text.scss */
body > section:nth-of-type(2n) a {
  color: #222933;
}

/* line 27, common-base/elements/_text.scss */
body > section:nth-of-type(2n+1) a {
  color: white;
}
