/* line 1, public-base/_nav.scss */
nav.menu-full {
  font-size: 1.4vw;
}
/* line 4, public-base/_nav.scss */
nav.menu-full .menu_icon {
  padding: 0;
}
/* line 7, public-base/_nav.scss */
nav.menu-full .menu_icon img {
  position: relative;
  max-width: 2em;
  vertical-align: middle;
  margin: -0.4em 0 0 0;
  padding: 0;
}

/* line 17, public-base/_nav.scss */
nav.menu-collapsed > div {
  font-size: 3.5vh;
}
/* line 20, public-base/_nav.scss */
nav.menu-collapsed > div * {
  margin: 4vh 0 0 0;
}
/* line 24, public-base/_nav.scss */
nav.menu-collapsed > div .menu_icon {
  padding: 0;
}
/* line 27, public-base/_nav.scss */
nav.menu-collapsed > div .menu_icon img {
  height: initial;
  display: block;
  margin: 3vh auto 1vh auto;
  max-width: 2.5em;
  padding: 0;
}
