<a href='{% url 'member_list' %}'>
    Medlemmer
</a>

<div id='' class='dropdown'>
    <input id='user-dropdown-trigger' class='dropdown-trigger' type='checkbox' />
    <label for='user-dropdown-trigger' class='dropdown-label'>
        <a href='{% url 'practical' %}'>
            Praktisk
        </a>
        <i class='fa fa-caret-down'></i>
    </label>

    <ul class='dropdown-options'>
        <li class='dropdown-option'>
            <a href='{% url 'practical' %}'>
                Styret og komiteer
            </a>
        </li>

        <li class='dropdown-option'>
            <a href='{% url 'practical' %}'>
                Fravær
            </a>
        </li>
    </ul>
</div>

<a href='{% url 'all_forum_post_list' %}'>
	Forum
</a>

<div id='user-dropdown' class='dropdown'>
    <input id='user-dropdown-trigger' class='dropdown-trigger' type='checkbox' />
    <label for='user-dropdown-trigger' class='dropdown-label'>
        {{ user.first_name }}
        <i class='fa fa-caret-down'></i>
    </label>

    <ul class='dropdown-options'>
        <li class='dropdown-option'>
            <a href='{% url 'member_change' user.pk %}'>
                <i class='fa fa-fw fa-user'></i>
                Endre profil
            </a>
        </li>

        <li class='dropdown-option'>
            <a href='{% url 'logout' %}'>
                <i class='fa fa-fw fa-sign-out'></i>
                Logg ut
            </a>
        </li>
    </ul>
</div>
