/* line 1, _colored-labels.sass */
.colored-label, .group-leader, .has-car, .has-towbar, .is-on-leave {
  font-weight: 400;
}

/* line 4, _colored-labels.sass */
.group-leader {
  color: #F11;
}

/* line 8, _colored-labels.sass */
.has-car {
  color: yellow;
}

/* line 12, _colored-labels.sass */
.has-towbar {
  color: #1F1;
}

/* line 16, _colored-labels.sass */
.is-on-leave {
  color: orange;
}

/* line 1, _table-style.sass */
.member-list {
  border-collapse: collapse;
}

/* line 4, _table-style.sass */
.table-header > td {
  padding: 2em 0 1em 0;
}

/* line 8, _table-style.sass */
tr:not(.table-header):nth-of-type(2n+1) {
  background-color: #29363D;
}
/* line 11, _table-style.sass */
tr:not(.table-header) > td {
  padding: 0.3em 1em 0.3em 2em;
}
