@import '_color-palette.sass';
@import '_breakpoints.scss';

$standard-font-family: 'Open Sans', sans-serif;

$site-background-color: $primary;

// The background and text colors for the 1st, 3rd, 5th etc. section
$dark-section-bg-color: $primary;
$dark-section-text-color: white;

// The background and text colors for the 2nd, 4th, 6th etc. section
$light-section-bg-color: $secondary;
$light-section-text-color: black;

// Additional variables
@import '_nav.sass';
